.labelstyle {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
	margin-left: 2px;
	margin-top: 80px;
	margin-right: 45px;
	margin-bottom: 15px;
}

h3 {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
}